<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Dar aulas aulas online nunca foi tão fácil</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/partials/page-header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/page-give-classes.css">
</head>
<body id="page-give-classes">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/"><img src='/icons/back.svg' alt="Voltar" /></a>
                <img src='/logo.svg' alt="Logo Proffy" />
            </div>
            <div class="header-content">
                <strong>Que incrível que você quer dar aulas</strong>
                <p>O primeiro passo é preencher esse formulário de incrição</p>
            </div>
        </header>

        <main>
            <form action="/give-classes" id="create-class" method="POST">
                <fieldset>
                    <legend>Seu dados</legend>

                    <div class="input-block">
                        <label for="name">Nome completo</label>
                        <input type="text" id="name" name="name" required/>
                    </div>

                    <div class="input-block">
                        <label for="avatar">Link da sua foto <small>(começe com https://)</small></label>
                        <input type="url" id="avatar" name="avatar" required/>
                    </div>

                    <div class="input-block">
                        <label for="whatsapp">Whatsapp <small>(somente números)</small></label>
                        <input type="text" id="whatsapp" maxlength="18" name="whatsapp" required/>
                    </div>

                    <div class="textarea-block">
                        <label for="bio">Biografia</label>
                        <textarea id="bio" name="bio"required></textarea>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Sobre a aula</legend>

                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="" disabled hidden>Selecione uma opção</option>
                            {% for subject in subjects %}
                                <option value="{{loop.index}}">{{subject}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-block">
                        <label for="cost">Custo da sua hora/aula <small>(R$)</small></label>
                        <input name="cost" type="text" id="cost" required/>
                    </div>
                </fieldset>

                <fieldset id="schedule-items">
                    <legend>Horários disponíveis
                        <button type="button" id="add-time">+ Novo Horários</button>
                    </legend>

                    <div class="schedule-item">
                        <div class="select-block">
                            <label for="week_day">Dia da Semana</label>
                            <select name="weekday[]" required>
                                <option value="" disabled hidden>Selecione uma opção</option>
                                <option value="" disabled hidden>Selecione uma opção</option>
                                {% for weekday in weekdays %}
                                    <option value="{{loop.index0}}">{{weekday}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-block">
                            <label for="time">Das</label>
                            <input name="time_from[]" type="time" required/>
                        </div>
                        <div class="input-block">
                            <label for="time">Até</label>
                            <input name="time_to[]" type="time" required/>
                        </div>
                    </div>
                </fieldset>
            </form>

            <footer>
                <p>
                    <img src="/icons/warning.svg" alt="Aviso importante">
                    Importante!<br> Preencha todos os dados.
                </p>
                <button type="submit" form="create-class">Salvar</button>
            </footer>
        </main>
    </div>

    <script src="scripts/form.js"></script>
    <script src="scripts/removeFields.js"></script>
    <script src="scripts/addFields.js"></script>
</body>
</html>
