<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
</head>
<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <img src="/logo.svg" alt="Logo Proffy">
            <h2>Sua plataforma de estudos online</h2>
        </div>

        <img
        src="/landing.svg"
        alt="Plataforma de estudos"
        class="hero-image"
        />

        <div class="buttons-container">
            <a href="/study" class="study">
                <img src="/icons/study.svg" alt="Estudar" />
                Estudar
            </a>

            <a href="/give-classes" class="give-classes">
                <img src="/icons/give-classes.svg" alt="Dar aulas" />
                Dar Aulas
            </a>
        </div>

        <span class="total-connections">
            Total de <strong>200</strong> conexões já realizadas <img src="/icons/purple-heart.svg" alt="Coração Roxo" />
        </span>
    </div>
</body>
</html>
