<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Dar aulas aulas online nunca foi tão fácil</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/partials/page-header.css">
    <link rel="stylesheet" href="/styles/partials/forms.css">
    <link rel="stylesheet" href="/styles/partials/teacher-item.css">
    <link rel="stylesheet" href="/styles/partials/page-study.css">
</head>
<body id="page-teacher-list">
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/"><img src='/icons/back.svg' alt="Voltar" /></a>
                <img src='/logo.svg' alt="Logo Proffy" />
            </div>
            <div class="header-content">
                <strong>Estes são os proffys disponíveis</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject" required>
                            <option value="" disabled hidden>Selecione uma opção</option>
                            {% for subject in subjects %}
                                <option value="{{loop.index}}" {{ "selected" if loop.index == filters.subject }}>{{subject}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="select-block">
                        <label for="week_day">Dia da Semana</label>
                        <select name="weekday" id="week_day" required>
                            <option value="" disabled hidden>Selecione uma opção</option>
                            {% for weekday in weekdays %}
                                <option value="{{loop.index0}}" {{ "selected" if loop.index0 == filters.weekday }}>{{weekday}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" type="time" id="time" value="{{filters.time}}" required/>
                    </div>

                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>
            {% for proffy in proffys %}
                <article class="teacher-item">
                    <header>
                    <img src="{{proffy.avatar}}" alt="Usuário {{proffy.name}}" />
                    <div>
                        <strong>{{proffy.name}}</strong>
                        <span>{{proffy.subject}}</span>
                    </div>
                    </header>

                    <p>{{proffy.bio}}</p>

                    <footer>
                    <p>
                        Preço/hora
                        <strong>R$ {{proffy.cost}}</strong>
                    </p>
                    <a class="button" href="https://api.whatsapp.com/send?phone=55{{proffy.whatsapp}}&text=Olá, tenho interesse na sua aula de {{proffy.subject}} proffy {{proffy.name}}&source&data&app_absent&lang=pt_br" target="_blank" rel="noreferrer noopener">
                        <img src='/icons/whatsapp.svg' alt="Entrar em contato por Whatsapp" />
                        Entrar em contato
                    </a>
                    </footer>
                </article>
            {% endfor %}
        </main>
    </div>
</body>
</html>
