<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Cadastro realizado com sucesso</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/partials/page-success.css">
</head>
<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <img src="/logo.svg" alt="Logo Proffy">
        </div>

        <div class="success-container">
            <div class="success-information">
                <img src="/icons/success-check-icon.svg" alt="Sucesso ao criar">
                <h1>
                    Cadastro salvo!
                </h1>
                <p>
                    Tudo certo, seu cadastro está na nossa lista de professores.
                    Agora é só ficar de olho no seu WhatsApp.
                </p>
            </div>

            <a id="goToStudy" href="/study{{query}}">Acessar Lista</a>
        </div>
    </div>

    <script src="/scripts/goToStudy.js"></script>
</body>
</html>
